@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
}
.btn-secondary{
    background-color: #FFF8F3;
    font-weight: bold;
    color: #FD6E0A;
    border-color: #FD6E0A ;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    margin: 0 -5px 0 -5px;
    background-position: center left, bottom right;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;

}

nav li a{
    text-decoration: none;
    font-size: 20px;

}

/* banner style */
.banner{
    
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{

    max-width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 86px;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-pic{
    width: 580px;
}
/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about */

.about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
    margin-top: 130px;


}
.about-items{
    display: flex;
    justify-content: space-around;

}
.item-description{
    font-weight: bold;
}

/* skills */
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume hr{
    margin: 30px 5px;
}

.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.experience-description, .experience-sub-title{
    color: #757575;
}

.resume-download-cv{
    margin-top: 50px;
}

/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"],input[type="email"],textarea{
    height: 24px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.icon {
    display: flex;
    gap: 15px;
}

.icon img {
    width: 24px; 
    height: auto; 
}


/* Responsive Media Query */
.hide{
    display: none;
}

@media screen and (max-width:576px){
    .skills-container{
        flex-direction: column;
    }
}